<!-- views/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Google SignIn</title>
    <%- include('../partials/head'); %>
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body class="container">
<div class="container">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span>Virtual Face Painting!</h1>
        <p>Login or Register with:</p>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
    </div>
</div>
</body>
</html> 