<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Profile Image</title>
    <%- include('../partials/head'); %>
</head> 
  
<body class="container">
    <header>
      <%- include('../partials/header'); %>
    </header>
    <div>  
        <img src="data:image/<%=image.image.contentType%>;base64, 
                <%=image.image.data.toString('base64')%>" width="500"> 
    </div> 
</body> 
  
</html> 