<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Image Uploading</title> 
    <%- include('../partials/head'); %>
</head> 
  
<body class="container">
    <header>
      <%- include('../partials/header'); %>
    </header>
    <h1>Upload My Picture</h1> 
    <hr> 
    <div> 
        <form action="/upload" method="POST" enctype="multipart/form-data"> 
            <div> 
                <label for="image">Upload Image</label> 
                <input type="file" id="image" class="btn-secondary"
                       name="image" value="" required> 
            </div> 
            <div> 
                <button type="submit" class="btn-primary">Submit</button> 
            </div> 
        </form> 
    </div> 
  
    <hr> 
    <h1>My Current Picture</h1> 
    <% if (image != null) { %>
    <div> 
        <img src="data:image/<%=image.image.contentType%>;base64, 
                <%=image.image.data.toString('base64')%>" width="500"> 
    </div> 
    <% } else { %>
    <div>
        <p>No Picture Uploaded</p>
    </div>
    <% } %>
</body> 
  
</html> 